    header {
        /* width: 1440px; */
        height: 576px;
        left: 0px;
        top: 0px;
        background: #F0FFF0;
    }
    
    .container {
        margin-bottom: 50px;
    }
    
    .img-style {
        height: 50px;
        width: 200px;
    }
    
    .nav-item {
        color: black;
    }
    
    .nav-item {
        font-size: 1.2rem;
        width: 100px;
    }
    
    #sing-in {
        background: #21B573;
        color: #FFFFFF;
        height: 43px;
        border-radius: 33px;
        text-align: center;
    }
    
    .btn-style {
        background: #21B573;
        color: #FFFFFF;
        height: 43px;
        border-radius: 33px;
        text-align: center;
        width: 150px;
        border: none;
    }
    
    .col-md-5 h6 {
        color: #FD511A;
        width: 188px;
        height: 24px;
    }
    
    h1 {
        width: 405px;
        height: 140px;
    }
    
    span {
        color: #21B573;
    }
    
    .col-md-3 {
        width: 270px;
        height: 270px;
        /* background: #F8FFFB; */
        /* border-radius: 10px;
        background: cyan; */
    }
    
    .img-c {
        width: 66px;
        height: 85px;
        text-align: center;
    }
    
    .cat1,
    .cat2,
    .cat3,
    .cat4 {
        padding: 50px 30px;
        border-radius: 10px;
        background: #F8FFFB;
        text-align: center;
        width: 270px;
        height: 270px;
    }
    
    .cat2 {
        background: #FFFFFF;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    }
    
    h2 {
        text-align: center;
        margin-bottom: 50px;
    }
    
    .card-deck .card {
        /* background: #FFFFFF; */
        border: none;
        background: #FFFFFF;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
        border-radius: 18px;
        padding: 20px;
    }
    
    .card-deck .card .card-footer {
        border-top: none;
        background: #FFFFFF;
    }
    
    .card-footer img {
        height: 20px;
        width: 20px;
    }
    
    .testimonial img {
        height: 100px;
        width: 100px;
    }
    
    footer {
        /* width: 1440px; */
        /* height: 369px; */
        background: #282531;
        color: #FFFFFF;
        padding: 40px 0;
    }
    
    .col-md-2 a {
        color: white;
    }
    
    .footer {
        text-align: center;
        color: white;
        padding: 10px;
    }